.instrCont{
   padding-left: 21px;
    
}

.instructions {
    background-color: #F6F9FB;
    padding: 20px;
    margin: 20px;
    color: #333; /* Text color */
    line-height: 1.5; /* Line height */
  }
  
  .instructions h2 {
    color: #242A59; /* Darker text color for the header */
    font-size: 18px; /* Font size for the header */
    margin-bottom: 10px;
    font-weight: 800;
  }
  
  .instructions p {
    margin-bottom: 10px; 
    color: #242A59;
    font-size: 14px;
    /* Space between paragraphs */
  }
  
  .instructions ul {
    list-style-type: disc; /* Bullet points style */
    margin-left: 20px; /* Indentation for the list */
    color: #696969; /* Slightly lighter text color for the list items */
    text-align: start;
    font-size: 14px;
  }
  
  .instructions ul li {
   
    text-align: left;
  }
  
  .instructions .contact {
    margin-top: 20px; /* Space before the contact section */
  }
  
  .instructions .contact a {
    color: #1A73E8; /* Link color */
    text-decoration: none; /* Remove underline from links */
  }
  
  .instructions .contact a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  