

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
} */

.containadmissionform {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  color: #337ab7;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.formdetails{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group input{
  height: 30px;
  width: 95%;
  border-radius: 5px;
  color: gray;
  border: 1px solid #ccc;
  padding-left: 10px;

}
.captchainputandimg {
 display: flex;
 justify-content:space-between;
 gap: 40px;
 
 
}

.captchainputandimg  img{
  width: 250px;
  height: 70px;
}
.captchainput input{
  width: 220px;
  height: 30px;
}
#admissionFormRegisterBtn{
  width: 40%;
  padding: 10px;
  border: 1px solid;
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  background-color: #1181D2;
  font-weight: bold;
}
#admissionFormLoginBtn{
  width: 40%;
  padding: 10px;
   border: 1px solid  #1181D2;
  color: #1181D2;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  background-color: #fff;
  font-weight: bold;
}

label {
  display: flex;
  margin-bottom: 10px;
  color: #000000;

}


input[type="tel"],
select {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: gray;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
  border-color: #337ab7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mobile-number-input {
  display: flex;
  align-items: center;
}

.mobile-number-input select {
  width: 70px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.mobile-number-input input[type="text"] {
  flex: 1;
}


.captcha-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.captcha-container span {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #337ab7;
}

.captcha-container button[type="button"] {
  margin-left: 10px;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.captcha-container button[type="button"]:hover {
  background-color: #f0f0f0;
}

input[type="checkbox"] {
  margin-right: 10px;
  
}

button[type="submit"] {
  width: 75px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #337ab7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #23527c;
}