
.footer {
  background-color: #065BAA;
  ;
  color: white;
  width: 97.4%;
  border: 15px solid #f3f3f3
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
 
  
}

.linkUl{
  text-align: start;
  padding: 3% 0;
}

.linkUl h4{
  margin: 0 13%;
}

.linkUl ul li{
  padding: 2% 0;
}

.linkUl ul li::marker{
  color: #E68B43;
}

.addressUl{
  text-align: start;
  padding: 3% 0;
  width: 30%;
}

.addressUl h4{
  margin: 0 9%;
}

.addressUl ul li{
 list-style-type: none;
 padding: 2% 0;
}

.adressicon{
  margin-right: 2%;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-section h1{
  font-size: 54px;
  letter-spacing: 11px;
  color: white;
}

.footer-section h3 {
  letter-spacing: 5px;
    margin-bottom: 10px;
    margin-top: -18px;
}

.footer-section p {
  margin: 5px 0;
}

.university {
  max-width: 250px;
  text-align: start;
}

.social-icons {
  display: flex;
  margin-top: 10px;
}

.social-icons > * {
  margin: 0 20px 0 0px;
  font-size: 24px;
  padding: 7px;
  cursor: pointer;
  border-radius: 43px;
  background: #E68B43;
}

.footer-bottom {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7%; 
  font-size: 14px;
  background: #23237c
}


 