.containoffercourses {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 20px;
    background-color: #dfecf9;
    
  }
  .titleoffercourses {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  .course-grid-offercourses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    
  }